{% extends "base.html" %}

{% block title %}lista de tarefas{% endblock title %}
{% block content %}

<div>
    <form action="{% url "registrar" %}" method="post">{% csrf_token %}
    
        <input type="text" name="nomes" placeholder="digite deu nome">
        <br>
        <br>
        <input type="text" name="emails" placeholder="digite seu email">
        <br>
        <br>
        <input type="password" name="senhas" placeholder="crie sua senha">
        <br>
        <br>
        <input type="submit" value="registre-se">
    </form>
</div>



{% endblock content %}  